.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

@media (max-width: 600px) {

    .form {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex: 1;
        flex-direction: column;
      }

}
