.container {
  margin: 0 3rem;
  background-color: #fafafa;
  border-top: solid 2px rgba(0, 0, 0, 0.089);
}



.countries {
  padding: 2rem 5rem;
}

.form {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 2rem;
}


@media (max-width: 600px)
{
 .form{
   padding-left: 1rem;
 }
}